{% extends 'base.html.twig' %}

{% block title 'Modification mot de passe' %}

{% block body %}
    <div class="grix xs4 container">
        {% for message in app.flashes('error') %}
            <div class="col-xs4">
                <div class="alert alert-danger">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="col-xs4">
            <h1>Modification du mot de passe</h1>
            <form method="post">
                <div class="form-field">
                    <label for="newPass">Nouveau mot de passe</label>
                    <input type="password" id="newPass"name="newPass" class="form-control">
                </div>
                <div class="form-field">
                    <label for="confirmPass">Confirmez le mot de passe</label>
                    <input type="password" id="confirmPass"name="confirmPass" class="form-control">
                </div>
                <div class="form-field">
                    <button type="submit" class="btn-primary btn">Valider</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
