{% extends 'base.html.twig' %}

{% block title 'Profil' %}

{% block body %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="col-xs4">
                <div class="alert alert-success">
                    {{ message }}
                </div>
            </div>
        {% endfor %}
        <div class="row">
            {{ form_start(form) }}
                {{ form_row(form.username) }}
                {{ form_row(form.nom) }}
                {{ form_row(form.prenom) }}
                {{ form_row(form.mail) }}
                {{ form_row(form.valider) }}
                {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
        <br />
        <div class="row">
            <a href="{{ path('user.profile.editPass', {username: app.user.username}) }}"><button class="btn btn-primary">Modifier le mot de passe</button></a>
        </div>
    </div>
{% endblock %}
