{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}
    <div class="container mt-3">
        <h1>Connexion</h1>
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <form action="{{ path('security.login') }}" method="post">
            <div class="form_group">
                <label for="inputMail"></label>
                <input id="inputMail" placeholder="Adresse mail" required name="_username" type="mail" class="form-control" autofocus>
            </div>
            <div class="form_group">
                <label for="inputPassword"></label>
                <input id="inputPassword" placeholder="Mot de passe" required name="_password" type="password" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
            <div>
                <a href="{{ path('app_forgot_password_request') }}"><p>Réinitialiser le mot de passe.</p></a>
            </div>
        </form>
    </div>
{% endblock %}
