{% extends 'base.html.twig' %}

{% block title 'Inscription' %}

{% block body %}
    <div class="container mt-3">
        <h1>Inscription</h1>
        {{ form_start(form) }}
            {{ form_row(form.username, {'attr': {'placeholder': 'Pseudo'}}) }}
            {{ form_row(form.nom, {'attr': {'placeholder': 'Nom'}}) }}
            {{ form_row(form.prenom, {'attr': {'placeholder': 'Prénom'}}) }}
            {{ form_row(form.mail, {'attr': {'placeholder': 'Adresse Mail'}}) }}
            {{ form_row(form.password, {'attr': {'placeholder': 'Mot de passe'}}) }}
            {{ form_row(form.confirmeMdp, {'attr': {'placeholder': 'Mot de passe'}, 'label': 'Confirmer le mot de passe'}) }}
            <button type="submit" class="btn btn-primary">S'inscrire</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
