{% extends 'base.html.twig' %}

{% block title 'Accueil' %}

{% block body %}
    <img src="{{ asset('media/images/default.jpg') }}" class="img-fluid" alt="SnowTricks Image">
    <div class="container mt-3">
        {% if app.user %}
            <div class="container d-flex align-items-center flex-column">
                <a href="{{ path('tricks.create') }}"><button class="btn btn-primary">Créer un trick</button></a>
            </div>
        {% endif %}
        <h2>Les derniers tricks</h2>
        <div class="row flex">
            {% for trick in tricks %}
                <div class="col-3 mb-3">
                    <div class="card bg-secondary">
                        <div class="card-header">
                            {{ trick.nom }} ({{ trick.groupe.nom }})
                        </div>
                        <a href="{{ path('tricks.show', {id: trick.id, slug: trick.slug}) }}">
                            <img
                                    class="card-img-top"
                                    {% if trick.illustrations is empty %}
                                        src="{{ asset('/media/images/default.jpg') }}"
                                    {% else %}
                                        src="{{ asset('/media/images/' ~ trick.illustrations|first.url) }}"
                                    {% endif %}
                                    alt="Image {{ trick.nom }}"
                            >
                        </a>
                        <div class="card-body">
                            <p class="card-text">
                                {{ trick.description }}
                            </p>
                            <p class="card-text"><small>Créé le {{ trick.date | date("d/m/Y") }} par {{ trick.utilisateur.prenom }} {{ trick.utilisateur.nom }}</small></p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
