{% extends 'base.html.twig' %}

{% block title %}Email envoyé{% endblock %}

{% block body %}
    <p>
        Un email vous a été envoyé contenant un lien pour réinitialiser votre mot de passe.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas d'email, merci de vérifier dans vos spams ou de <a href="{{ path('app_forgot_password_request') }}">réessayer</a>.</p>
{% endblock %}
