{% extends 'base.html.twig' %}

{% block title 'Admin - Utilisateurs' %}

{% block body %}
    <div class="container mt-3">
        <h1>Liste des utilisateurs</h1>
        <table class="table table-dark table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Mail</th>
                    <th>Roles</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    {% if user.id != app.user.id %}
                        <tr>
                            <td>{{ user.id }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ user.nom }}</td>
                            <td>{{ user.prenom }}</td>
                            <td>{{ user.mail }}</td>
                            <td>
                                {% for role in user.roles %}
                                    {% if role == "ROLE_ADMIN" %}
                                        <span class="badge bg-danger rounded-pill">Admin</span>
                                    {% elseif role == "ROLE_MODERATOR" %}
                                        <span class="badge bg-warning rounded-pill">Moderateur</span>
                                    {% elseif role == "ROLE_EDITOR" %}
                                        <span class="badge bg-primary rounded-pill">Editeur</span>
                                    {% elseif role == "ROLE_USER" %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                <a href="{{ path('admin.edit.user', {'id': user.id}) }}" class="btn btn-warning"><span class="fas fa-pencil-alt"></span></a>
                                <a href="{{ path('admin.delete.user', {'id': user.id}) }}" class="btn btn-danger" onclick="return confirm('Etes vous sûr ?')"><span class="fas fa-times"></span></a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
