<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <link href="{{ asset('css/style.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ path('home') }}">Snowtricks</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link {% if current_page is defined and current_page == 'connexion' %}active{% endif %}" href="{{ path('security.login') }}">Connexion</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if current_page is defined and current_page == 'inscription' %}active{% endif %}" href="{{ path('security.registration') }}">Inscription</a>
                            </li>
                        {% else %}
                            {% if is_granted('ROLE_ADMIN') %}
                                <li class="nav-item">
                                    <a class="nav-link {% if current_page is defined and current_page == 'admin' %}active{% endif %}" href="{{ path('admin.users') }}">Administration</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% if current_page is defined and current_page == 'profil' %}active{% endif %}" href="{{ path('user.profile', {username: app.user.username}) }}">Profil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('security.logout') }}">Déconnexion</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock %}

        <!-- Footer -->
        <footer class="bg-dark text-center text-lg-start">
            <div class="text-center p-4">
                Copyright ©
                <a class="text-light" href="https://www.charly-printanier.ovh/">www.charly-printanier.ovh</a>
                2021
            </div>
        </footer>
        <!-- Footer -->
        <script src="https://kit.fontawesome.com/c3bae9f280.js" crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
