{% extends 'base.html.twig' %}

{% block title 'Tricks - Media' %}

{% block stylesheets %}
    <link href="{{ asset('css/addMedia.tricks.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Ajouter des medias</h1>
        <div class="row">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-field">
                    <label for="file">Ajouter des photos:</label>
                    <input type="file" id="file" name="file" class="form-control">
                </div>
                <div class="container mt-2 illustrationsContainer d-flex flex-wrap">
                    {% for illustration in trick.illustrations %}
                        <div class="p-2 illustrationContainer" data-id_illustration="{{ illustration.id }}">
                            <img class="mr-3 mb-3 border border-white rounded" src="{{ asset('/media/images/' ~ illustration.url)|imagine_filter('squared_thumbnail_small') }}" alt="Illustration">
                            <div class="illustrationActions"  data-illustration_id="{{ illustration.id }}">
                                <button type="button" class="illustrationFavButton btn btn-warning">
                                    <span
                                            class="{% if trick.favoriteIllustration == illustration %}fas{% else %}far{% endif %} fa-star"
                                    ></span>
                                </button>
                                <button type="button" class="illustrationDeleteButton btn btn-danger"><span class="fas fa-times"></span></button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </form>
            <a href="{{ path('tricks.show', {id: trick.id, slug: trick.slug}) }}"><button class="btn btn-primary">Valider</button></a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
            $('.illustrationFavButton').on('click', (e) => {
                let illustrationId = $(e.target).parents('.illustrationContainer').data('id_illustration');

                $.ajax({
                    url: '{{ path('tricks.setFavorite', {id: trick.id}) }}',
                    type: "POST",
                    dataType: "json",
                    data: {
                        "illustration-id": illustrationId
                    },
                    async: true,
                    success: function () {
                        $('.fas.fa-star').removeClass('fas')
                            .addClass('far');

                        $('.illustrationContainer[data-id_illustration='+illustrationId+'] button.illustrationFavButton span').removeClass('far')
                            .addClass('fas');
                    }
                });
            });

            $('.illustrationDeleteButton').on('click', (e) => {
                let illustrationContainer = $(e.target).parents('.illustrationContainer');
                let illustrationId = illustrationContainer.data('id_illustration');

                let data = {
                    "illustrationId": illustrationId,
                    "favorite" : $('.illustrationFavButton span', illustrationContainer).hasClass('fas')
                };

                $.ajax({
                    url: '{{ path('tricks.deleteIllustration') }}',
                    type: "POST",
                    dataType: "json",
                    data: data,
                    async: true,
                    success: function () {
                        illustrationContainer.remove();
                    }
                });
            });
    </script>
    <script src="{{ asset('js/addMedia.trick.js') }}" crossorigin="anonymous"></script>
{% endblock %}
