{% extends 'base.html.twig' %}

{% block title 'Tricks' %}

{% block stylesheets %}
    <link href="{{ asset('css/show.tricks.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="container">
            <img
                    {% if trick.illustrations is empty %}
                        src="{{ asset('/media/images/default.jpg') }}"
                    {% else %}
                        {% if trick.favoriteIllustration is empty %}
                            src="{{ asset('/media/images/' ~ trick.illustrations|first.url) }}"
                        {% else %}
                            src="{{ asset('/media/images/' ~ trick.favoriteIllustration.url) }}"
                        {% endif %}
                    {% endif %}
                    alt="Snow"
                    class="img-fluid"
            >
            {% if is_granted('ROLE_EDITOR') %}
                <div id="tricksAction">
                    <a id="trickAddMediaButton" href="{{ path('tricks.addMedia', {id: trick.id, slug: trick.slug}) }}"><button class="btn btn-primary"><span class="fas fa-camera"></span></button></a>
                    <a id="trickModifyButton" href="{{ path('tricks.modify', {id: trick.id, slug: trick.slug}) }}"><button class="btn btn-primary"><span class="fas fa-pen"></span></button></a>
                    <a id="trickDeleteButton" href="{{ path('tricks.delete', {id: trick.id}) }}"><button class="btn btn-danger"><span class="fas fa-times"></span></button></a>
                </div>
            {% endif %}
        </div>
        <div class="centered"><h1>{{ trick.nom }}</h1></div>
    </div>
    <div class="container mt-2">
        {% for illustration in trick.illustrations %}
            {% if illustration != trick.favoriteIllustration %}
                <img class="mr-3 mb-3 border border-white rounded" src="{{ asset('/media/images/' ~ illustration.url)|imagine_filter('squared_thumbnail_small') }}" alt="Illustration">
            {% endif %}
        {% endfor %}
        <div class="embed-responsive embed-responsive-16by9">
            {% for video in trick.videos %}
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video.url }}?rel=0" allowfullscreen></iframe>
            {% endfor %}
        </div>
    </div>
    <div class="container">
        <p>{{ trick.description }}</p>
    </div>
    {% if app.user %}
        <div class="container">
            {{ form_start(commentForm) }}
                {{ form_widget(commentForm) }}
                <button type="submit" class="btn btn-primary">Valider</button>
            {{ form_end(commentForm) }}
        </div>
    {% endif %}
    <div class="container">
        {% for commentaire in trick.commentaires %}
            <span class="fas fa-pencil"></span> {{ commentaire.utilisateur.nom }} {{ commentaire.utilisateur.prenom }} le {{ commentaire.date | date("d/m/Y à H:i") }}
            <p>
                {{ commentaire.contenu }}
            </p>
        {% endfor %}
    </div>
{% endblock %}
